<% if user_signed_in? %>
  <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
  <%= link_to '投稿ページへ', new_post_path %>
  <%= link_to 'お気に入り一覧', user_path(current_user.id)%>
<% else %>
  <%= link_to 'ログイン', new_user_session_path %>
  <%= link_to '新規登録', new_user_registration_path %>
<% end %>

<div class="post">
<h2>投稿一覧</h2>
<p>↓↓↓</p>
  <% @posts.reverse_each do |post| %>
    <div id="post_<%= post.id %>">
      <%= render 'post', post: post%>
    </div>
  <% end %>
</div>